
<h2>Información Diputado</h2>

<% count = @legs.count %>

<p>Presente en <%= count %> legislaturas</p>

<% @legs.each do |legislatura| %>
    <%= render partial: "diputado", :locals => {legislatura: legislatura, id_diputado: params[:id] } %>
<% end %>
