/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.content_diputados {
    width: 1250px;
    margin: auto;
}

.ficha-diputado {
    background: #F8F8F8;
    padding: 5px; 
    /*border: 1px solid black; */
    width: 210px; 
    border-radius: 4px; 
    margin-left: 10px; 
    margin-right: 5px; 
    margin-bottom: 10px;
    float: left;
    font-size: 13px;
    font-family: arial;
    padding: 10px;
}

.ficha-diputado .titulo {
    height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
    background: #6baed6;
    position: absolute;
    margin-left: -10px;
    margin-top: -10px;
    width: 230px;
    border-radius: 2px;
    line-height: 34px;
    color: #fff;
}

.ficha-diputado .imagen {
    text-align: center;
    margin-top: 50px;
}

.ficha-diputado .info {
    padding: 5px;
}

.ficha-diputado .info div {
    margin-top: 10px;
}

.ficha-diputado .info .bio {
    height: 300px; 
    overflow: auto;
    color: #999;
}

.ficha-diputado .info .partido {
    margin-top: 5px;
    height: 30px;
    overflow: hidden;
    margin-bottom: 10px;
    font-weight: bold;
}
