/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.ficha-diputado {
    padding: 5px; 
    border: 1px solid black; 
    width: 220px; 
    border-radius: 15px; 
    margin-left: 10px; 
    margin-right: 10px; 
    float: left;
}

.ficha-diputado .titulo {
    text-align: center; 
    font-weight: bold; 
    font-size: 16px; 
    margin-bottom: 5px
}

.ficha-diputado .imagen {
    text-align: center
}

.ficha-diputado .info {
    background-color: #eee; 
    padding: 5px;
}

.ficha-diputado .info .partido {
    text-align: center
}
