<div style="width: 1100px; margin: 70px auto auto;">
    <h2>Acerca de...</h2>

    <p>
        Este proyecto ha sido desarrollado durante el <a href="http://opendataday.org/">International Open Data Day 2014</a> en la sede de <b>Vigo</b>.
        Nuestro objetivo es hacer más accesible la información histórica contenida en la web del congreso de los diputados de España.
        Hemos recopilado y estructurado la información disponible en la web del congreso y a partir de ella hemos generado una visualización que permite localizar a todos los diputados a lo largo de su historia en las 11 legislaturas que han transcurrido desde el año 1979.
    </p>

    <p>La visualización permite filtrar los diputados por varias categorías:</p>
    <ul>
        <li>Legislatura.</li>
        <li>Grupo Parlamentario.</li>
        <li>Comunidad Autónoma en la que fue elegido.</li>
        <li>Género.</li>
    </ul>
    <p>
        Una vez localizado un diputado se puede acceder a su perfil histórico a través de un click en su fotografía, en dicho perfil se pueden consultar las legislaturas en las que ha participado junto con información detallada de las iniciativas e intervenciones que realizó en cada una de ellas.
    </p>

    <p>Equipo:</p>
    <ul>
        <li>Diego Pino (<a href="https://twitter.com/diepg">@diepg</a>).</li>
        <li>Javier SanRoman (<a href="https://twitter.com/javisanroman">@javisanroman</a>).</li>
        <li>Juan Elosua (<a href="https://twitter.com/jjelosua">@jjelosua</a>).</li>
    </ul>

    <p>Código fuente disponible en <a href="https://github.com/jjelosua/congreso_quien_es_quien.git">Github</a>.</p>
</div>
